.leftAlign {
    float: left;
}

.rightAlign {
    float : right;
}

#beautifulTable {
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}
  
#beautifulTable td, #beautifulTable th {
border: 1px solid #ddd;
padding: 8px;
text-align: center;
}

#beautifulTable tr:nth-child(even){background-color: #f2f2f2;}

#beautifulTable tr:hover {background-color: #ddd;}

#beautifulTable th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #4CAF50;
color: white;
text-align: center;
}

ul {
    border-left: 5px solid #4CAF50;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
}

fieldset {
    background-color: #f1f1f1;
    padding: auto;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

button, label, input, select, progress, meter {
    display: block;
    font-family: inherit;
    font-size: 1vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 60%;
    padding: 5px;
    height: 30px;
}

input {
    background-color: #83af85;
    border: 2px solid green;
}

.easter-egg {
    position: relative;
    display: inline-block;
}
  
.easter-egg .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.easter-egg:hover .tooltiptext {
    visibility: visible;
}

.sizing {
    font-size : 1vw;
}

@media screen and (max-width: 800px) {
    .sizing {
        font-size : 2vw;
    }

    #beautifulTable {
        width: 100%;
    }

    #beautifulTable td, #beautifulTable th {
        font-size : 2vw;
        border: 1px solid #ddd;
        padding: 4px;
        text-align: center;
    }

    #beautifulTable th {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
        text-align: center;
    }

    ul {
        border-left: 3px solid #4CAF50;
        background-color: #f1f1f1;
        list-style-type: none;
        padding: 6px 15px;
    }

    button, label, input, select, progress, meter {
        display: block;
        font-family: inherit;
        font-size: 2vw;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 3px;
        height: 20px;
    }
}

.awesome {
      
    font-family: futura;
    font-style: italic;
    
    width:100%;
    
    margin: 0 auto;
    
    color:#313131;
    font-weight: bold;
    -webkit-animation:colorchange 20s infinite alternate;
    
    
}

@-webkit-keyframes colorchange {
    0% {
        
        color: blue;
    }

    10% {
        
        color: #8e44ad;
    }

    20% {
        
        color: #1abc9c;
    }

    30% {
        
        color: #d35400;
    }

    40% {
        
        color: blue;
    }

    50% {
        
        color: #34495e;
    }

    60% {
        
        color: blue;
    }

    70% {
        
        color: #2980b9;
    }
    80% {

        color: #f1c40f;
    }

    90% {

        color: #2980b9;
    }

    100% {
        
        color: pink;
    }
}
